*.DS_Store
*.class
*.settings/
*.idea/

*.project
*.classpath
*.iml
*.gradle

logs/
bin/
lib/
target/
mx-ymate-manager-templates-v2/
src/main/resources/rebel.xml

# Package Files #
*.jar
*.war
*.ear

/build.num
/MANIFEST.MF
